@model LoginViewModel

@{
    ViewData["Title"] = "User Login";
}

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link href="~/lib/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet" />
<link href="~/lib/fontawesome-free-5.14.0-web/css/fontawesome.min.css" rel="stylesheet" />
<link href="~/css/Account.css" rel="stylesheet" />


<div class="container pt-10">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
              
                </div>

                <div class="card-body">
                    <h5 class="card-title text-center" style="font-size: 2.5rem; font-weight:700">Sign In</h5>
                    <form class="form-signin" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-label-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"> </span>
                        </div>
                        <div>
                            <label>
                                <input asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>

               
                    </form>
                    @*<hr class="my-4">
        <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i>Sign in with Google</button>
        </form>

                    *@
                    <div class="card-body pl-0 pr-0">
                      
                            <form method="post" class="form-signin" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                                <div>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        if (provider.Name == "Google")
                                        {
                                            <button class="btn btn-lg btn-google btn-block text-uppercase" name="provider" value="@provider.Name" type="submit"><i class="fab fa-google mr-2"></i>Sign in with Google</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" name="provider" value="@provider.Name" type="submit"><i class="fab fa-facebook-f mr-2"></i>Sign in with Facebook</button>
                                        }
                                    }
                                </div>
                            </form>
                        </div>

                   
                    </div>
                </div>
        </div>
    </div>
</div>