
@model PetFinder.ViewModels.PetDetailViewModel

@{
    ViewData["Title"] = "Details";
    var pet = Model.Pet;
}
<div class="col-lg-8  justify-content-center">
    <h1>Details</h1>
</div>
<div class="row justify-content-center m-1 mt-lg-2">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">@pet.Name</h1>
            </div>

            <div class="card-body text-center">
                <h4>@pet.DOB</h4>
                <h4>@pet.Gender</h4>
                <h4>@pet.Description</h4>
                <h4>@pet.PetColor.Color</h4>
                <h4>@pet.PetKind.AnimalType</h4>
                <h4>@pet.Shelter.Name</h4>
                <h4>@pet.Shelter.Description</h4>

            </div>
            <div class="row">
                <div class="col-md-4">
                    @if (pet.PetPictures.Count > 0)
                    {
                        foreach (var picture in pet.PetPictures)
                        {
                            <h4>testing 2</h4>
                            var imagepath = "~/images/" + picture.PhotoPath;
                            <div class="thumbnail">
                                <img class="imageThumbnail" src="@imagepath" asp-append-version="true" />
                            </div>
                        }
                    }
                    else
                    {
                        <h4>Testing</h4>
                        <div class="thumbnail">
                            <img class="imageThumbnail" src="~/images/noimage.jpg" asp-append-version="true" />
                        </div>
                    }



                </div>

            </div>
        </div>

    </div>
</div>
@if (Model.Isfavorite)
{
    <a asp-action="AddFavorite" asp-controller="favorite" asp-route-id="@pet.PetId" class="btn btn-warning">Remove from Favorite</a>
}
else
{
    <a asp-action="AddFavorite" asp-controller="favorite" asp-route-id="@pet.PetId" class="btn btn-success">Add to Favorite</a>

}