@model PetFinder.ViewModels.SearchViewModel

@{
    ViewData["Title"] = "Search";
}
<link href="~/chosen/chosen.css" rel="stylesheet" />


<div class="container mt-10">
    <div class="row">
        <div class="col-lg-3">

            <div class="row">

                <form enctype="multipart/form-data" method="post" id="MyForm">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="PetKindList" class="small mb-1 Label-text-form">Pet Kind</label>
                            <select asp-for="PetKindIdfromForm" multiple class="form-control-lg chosen-select" asp-items="Model.PetKindList">
                            </select>
                        </div>
                    </div>


                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
        <label asp-for="PetKindId" class="control-label">Pet Gender</label>
        @for (var i = 0; i < Model.PetKindList.Count; i++)
        {
         <input type="checkbox" asp-for="@Model.PetKindList[i].Selected" />
         <label asp-for="@Model.PetKindList[i].Selected">@Model.PetKindList[i].Text</label>
         <input type="hidden" asp-for="@Model.PetKindList[i].Value" />
         <input type="hidden" asp-for="@Model.PetKindList[i].Text" />
        }
        </div>*@


                    <div class="form-group ">
                        <label asp-for="Gender" class="control-label">Pet Gender</label>
                        @for (var i = 0; i < Model.Genderlist.Count; i++)
                        {
                            <div class="checkboxes">

                                <label asp-for="@Model.Genderlist[i].Selected">
                                    <input type="checkbox" asp-for="@Model.Genderlist[i].Selected" />
                                    @Model.Genderlist[i].Text
                                </label>
                                <input type="hidden" asp-for="@Model.Genderlist[i].Value" />
                                <input type="hidden" asp-for="@Model.Genderlist[i].Text" />
                            </div>
                        }
                    </div>

                    <div class="form-group checkboxes">
                        <label asp-for="Size" class="control-label">Size </label>
                        @for (var i = 0; i < Model.SizeList.Count; i++)
                        {
                            <div class="checkboxes">

                                <label asp-for="@Model.SizeList[i].Selected">
                                    <input type="checkbox" asp-for="@Model.SizeList[i].Selected" />
                                    @Model.SizeList[i].Text
                                </label>
                                <input type="hidden" asp-for="@Model.SizeList[i].Value" />
                                <input type="hidden" asp-for="@Model.SizeList[i].Text" />
                            </div>
                        }
                    </div>


                 
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="SocialWithDogs" class="small mb-1 Label-text-form">Social with dogs</label>
                            <select asp-for="SocialWithDogs" multiple class="form-control-lg chosen-select" asp-items="Html.GetEnumSelectList<Tristate>()">
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="SocialWithCats" class="small mb-1 Label-text-form">Social with cats</label>
                            <select asp-for="SocialWithCats" data-placeholder="Select criteria here" multiple class="form-control-lg chosen-select" asp-items="Html.GetEnumSelectList<Tristate>()">
                            </select>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label asp-for="SocialWithDogs" class="small mb-1 Label-text-form">Social with kids</label>
                                <select asp-for="SocialWithDogs" multiple class="form-control-lg chosen-select" asp-items="Html.GetEnumSelectList<Tristate>()">
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label asp-for="KidsFriendly" class="small mb-1 Label-text-form">Fit for Appartment</label>
                                <select asp-for="KidsFriendly" multiple class="form-control-lg chosen-select" asp-items="Html.GetEnumSelectList<Tristate>()">
                                </select>
                            </div>
                        </div>

                    </div>
                   

                    <div class="form-group">
                        <label asp-for="PetColor" class="control-label">Pet color </label>
                        @for (var i = 0; i < Model.PetColorList.Count; i++)
                        {
                            <div class="checkboxes">

                                <label asp-for="@Model.PetColorList[i].Selected">
                                    <input type="checkbox" asp-for="@Model.PetColorList[i].Selected" />
                                    <span style="height: 15px;width: 15px;background-color: @Model.PetColorList[i].Text;border-radius: 50%;display: inline-block;border:1px solid black;"></span>
                                    @Model.PetColorList[i].Text
                                </label>
                                <input type="hidden" asp-for="@Model.PetColorList[i].Value" />
                                <input type="hidden" asp-for="@Model.PetColorList[i].Text" />

                            </div>


                        }
                    </div>

                    <div class="form-group">
                        <label asp-for="PetRace" class="control-label">Race</label>
                        @for (var i = 0; i < Model.PetRaceList.Count; i++)
                        {
                            <div class="checkboxes">

                                <label asp-for="@Model.PetRaceList[i].Selected">
                                    <input type="checkbox" asp-for="@Model.PetRaceList[i].Selected" />
                                    @Model.PetRaceList[i].Text
                                </label>
                                <input type="hidden" asp-for="@Model.PetRaceList[i].Value" />
                                <input type="hidden" asp-for="@Model.PetRaceList[i].Text" />
                            </div>

                        }
                    </div>


                    <div class="form-group">
                        <input type="submit" value="submit" class="btn btn-primary" />
                    </div>
                    <div class="form-group" id="Target">
                        <input type="reset" value="Reset" class="Target btn btn-primary" />
                    </div>

                </form>

            </div>


        </div>

        <div class="col-lg-9 ">


            <div class="row result"></div>

        </div>

    </div>
</div>







@section scripts{
    <script src="~/chosen/chosen.jquery.js"></script>

    <script>

 $(document).ready( function () {
     $(".chosen-select").chosen()
     sendForm();
    });

        $('input:checkbox').change(function () {
        $('.NoResult').remove();
        sendForm();
    });


    $(".Target").click(function () {
    $('.NoResult').remove();
     resetForm();
     sendForm();
    });

    $(".chosen-select").on('change', function(){
    $('.NoResult').remove();
     sendForm();
});

        let sendForm = function () {
        var formData = new FormData(MyForm);

        $.ajax({
            url: '@Url.Action("GetSearchedPets", "Pet")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: formData,
            context:this,
            contentType: false,
            processData: false,
            success: function (result) {
                $('.selecta').remove();
               
              
                if (!$.trim(result)) {
                    $(".result").append(
                        '<div class="NoResult container">' +
                         '<h1>No results were found</h1>' +
                        '<p class="lead">There are currently no pets that fit your search criteria. Please try with less criteria or reset your filters </p>' +
                         '<div class="text-center">' +'<img src="/assets/no-pets-allowed.png" class="rounded">' +'</div>' +
                        '</div>'  
                       
                    );

                   }
                else {
                    albumAccordion(result);
                   }
               
            },
            error: function (result) {
                console.log("error");
            }
        });

        }
        let resetForm = function () {
            $(':input','#MyForm')
            .prop('checked', false)
            .prop('selected', false);
        }

    let albumAccordion = function (result) {
            $('#selecta').remove();
            $('.selecta').remove();
            $(this).parent("#selecta").remove();
      $.each(result, function (k, v) {
          $(".result").append(
              '<div class="selecta col-md-6 col-xl-4 mb-5 ">' +
              '<a class="card post-preview lift h-100" href="/Pet/Details/?id=' + v.petId +'">' +
              '<img class="card-img-top" src=/images/' + v.petPictures[0].photoPath + '>' +
              '<div class="card-body">' +
              '<h5 class="card-title">' +
              v.name +
              '</h5>' +
              '<p class="card-text">' +
              '</p>' +
              '</div>' +
              '<div class="card-footer">' +
              '<div class="post-preview-meta">' +
              '<div class="post-preview-meta-details">' +
              '<div class="post-preview-meta-details-name">' +
              '</div>' +
              '<div class="post-preview-meta-details-date">' +
              '</div>' +
              '</div>' +
              '</div>' +
              '</div>' +
              '</a>' +
              '</div>'
            );

});
};
    </script>



}
