@model PetFinder.ViewModels.SearchViewModel

@{
    ViewData["Title"] = "Search";
}



<h1>Search</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetKindId" class="control-label">Pet Gender</label>
                @for (var i = 0; i < Model.PetKindList.Count; i++)
                {

                    <input type="checkbox" asp-for="@Model.PetKindList[i].Selected" />
                    <label asp-for="@Model.PetKindList[i].Selected">@Model.PetKindList[i].Text</label>
                    <input type="hidden" asp-for="@Model.PetKindList[i].Value" />
                    <input type="hidden" asp-for="@Model.PetKindList[i].Text" />

                }
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Pet Gender</label>
                @for (var i = 0; i < Model.Genderlist.Count; i++)
                {

                    <input type="checkbox" asp-for="@Model.Genderlist[i].Selected" />
                    <label asp-for="@Model.Genderlist[i].Selected">@Model.Genderlist[i].Text</label>
                    <input type="hidden" asp-for="@Model.Genderlist[i].Value" />
                    <input type="hidden" asp-for="@Model.Genderlist[i].Text" />

                }
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Size" class="control-label">Size </label>
                @for (var i = 0; i < Model.SizeList.Count; i++)
                {

                    <input type="checkbox" asp-for="@Model.SizeList[i].Selected" />
                    <label asp-for="@Model.SizeList[i].Selected">@Model.SizeList[i].Text</label>
                    <input type="hidden" asp-for="@Model.SizeList[i].Value" />
                    <input type="hidden" asp-for="@Model.SizeList[i].Text" />
                   

                }
            </div>


            <div class="form-group">
                <label asp-for="SocialWithDogs"></label>
                <br />
                @foreach (Tristate socialWithDogs in Enum.GetValues(typeof(Tristate)))
                {
            <label>

                <input asp-for="SocialWithDogs" type="radio" value="@socialWithDogs" />
                @socialWithDogs
            </label>
                }
            </div>

            <div class="form-group">
                <label asp-for="Appartmentfit"></label>
                <br />
                @foreach (Tristate appartmentfit in Enum.GetValues(typeof(Tristate)))
                {
                    <label>
                        <input asp-for="Appartmentfit" type="radio" value="@appartmentfit" />
                        @appartmentfit
                    </label>
                }
            </div>

            <div class="form-group">
                <label asp-for="SocialWithCats"></label>
                <br />
                @foreach (Tristate socialWithCats in Enum.GetValues(typeof(Tristate)))
                {
                    <label>
                        <input asp-for="SocialWithCats" type="radio" value="@socialWithCats" />
                        @socialWithCats
                    </label>
                }
            </div>

            <div class="form-group">
                <label asp-for="KidsFriendly"></label>
                <br />
                @foreach (Tristate kidsFriendly in Enum.GetValues(typeof(Tristate)))
                {
                    <label>
                        <input asp-for="KidsFriendly" type="radio" value="@kidsFriendly" />
                        @kidsFriendly
                    </label>
                }
            </div>



         

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetColor" class="control-label">Pet color </label>
                @for (var i = 0; i < Model.PetColorList.Count; i++)
                {

                    <input type="checkbox" asp-for="@Model.PetColorList[i].Selected" />
                    <label asp-for="@Model.PetColorList[i].Selected">@Model.PetColorList[i].Text</label>
                    <input type="hidden" asp-for="@Model.PetColorList[i].Value" />
                    <input type="hidden" asp-for="@Model.PetColorList[i].Text" />

                }
            </div>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetRace" class="control-label">Race</label>
                @for (var i = 0; i < Model.PetRaceList.Count; i++)
                {

                    <input type="checkbox" asp-for="@Model.PetRaceList[i].Selected" />
                    <label asp-for="@Model.PetRaceList[i].Selected">@Model.PetRaceList[i].Text</label>
                    <input type="hidden" asp-for="@Model.PetRaceList[i].Value" />
                    <input type="hidden" asp-for="@Model.PetRaceList[i].Text" />

                }
            </div>


            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
</div>
</div>