@model SearchViewModel

@{
    ViewData["Title"] = "Search Pet Page";
}
<link href="~/chosen/chosen.css" rel="stylesheet" />

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pt-10">
    <div class="page-header-content pt-5">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-title mb-3">Search your Pet</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-lavender">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>

<div class="container mt-10">
    <div class="row">
        <div class="col-lg-2">

            <div class="row" style="background-color:LavenderBlush">

                <form enctype="multipart/form-data" method="post" id="MyForm">

                    <div class="form-group" id="Target" style="margin-top:1rem;align-content:center;text-align:center">
                        <input type="reset" value="Reset criteria's" class="Target btn btn-primary" />
                    </div>

          
                <div class="form-group">
                    <label asp-for="PetKindId" class="control-label">Pet Type</label>
                    @for (var i = 0; i < Model.PetKindList.Count; i++)
                    {
                <div class="checkboxes">
                  
                    <label asp-for="@Model.PetKindList[i].Selected">
                        <input type="checkbox" asp-for="@Model.PetKindList[i].Selected" />
                        @Model.PetKindList[i].Text
                    </label>
                    <input type="hidden" asp-for="@Model.PetKindList[i].Value" />
                    <input type="hidden" asp-for="@Model.PetKindList[i].Text" />
                </div>
                            }
                        </div>


                        <div class="form-group ">
                            <label asp-for="Gender" class="control-label">Pet Gender</label>
                            @for (var i = 0; i < Model.Genderlist.Count; i++)
                            {
                                <div class="checkboxes">

                                    <label asp-for="@Model.Genderlist[i].Selected">
                                        <input type="checkbox" asp-for="@Model.Genderlist[i].Selected" />
                                        @Model.Genderlist[i].Text
                                    </label>
                                    <input type="hidden" asp-for="@Model.Genderlist[i].Value" />
                                    <input type="hidden" asp-for="@Model.Genderlist[i].Text" />
                                </div>
                            }
                        </div>

                        <div class="form-group checkboxes">
                            <label asp-for="Size" class="control-label">Size </label>
                            @for (var i = 0; i < Model.SizeList.Count; i++)
                            {
                                <div class="checkboxes">

                                    <label asp-for="@Model.SizeList[i].Selected">
                                        <input type="checkbox" asp-for="@Model.SizeList[i].Selected" />
                                        @Model.SizeList[i].Text
                                    </label>
                                    <input type="hidden" asp-for="@Model.SizeList[i].Value" />
                                    <input type="hidden" asp-for="@Model.SizeList[i].Text" />
                                </div>
                            }
                        </div>



                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label asp-for="SocialWithDogs" class="control-label">Social with dogs</label>
                                <br />
                                <select asp-for="SocialWithDogs" data-placeholder="Select criteria here" multiple class="form-control-lg chosen-select" asp-items="Html.GetEnumSelectList<Tristate>()">
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label asp-for="SocialWithCats" class="control-label">Social with cats</label>
                                <br />
                                <select asp-for="SocialWithCats" data-placeholder="Select criteria here" multiple class="form-control-lg chosen-select" asp-items="Html.GetEnumSelectList<Tristate>()">
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label asp-for="KidsFriendly" class="control-label">Social with kids</label>
                                <br />
                                <select asp-for="KidsFriendly" data-placeholder="Select criteria here" multiple class="form-control-lg chosen-select" asp-items="Html.GetEnumSelectList<Tristate>()">
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label asp-for="Appartmentfit" class="control-label">Fit for Appartment</label>
                                <br />
                                <select asp-for="Appartmentfit" data-placeholder="Select criteria here" multiple class="form-control-lg chosen-select" asp-items="Html.GetEnumSelectList<Tristate>()">
                                </select>
                            </div>
                        </div>




                        <div class="form-group">
                            <label asp-for="PetColor" class="control-label">Pet color </label>
                            @for (var i = 0; i < Model.PetColorList.Count; i++)
                            {
                                <div class="checkboxes">

                                    <label asp-for="@Model.PetColorList[i].Selected">
                                        <input type="checkbox" asp-for="@Model.PetColorList[i].Selected" />
                                        <span style="height: 15px;width: 15px;background-color: @Model.PetColorList[i].Text;border-radius: 50%;display: inline-block;border:1px solid black;"></span>
                                        @Model.PetColorList[i].Text
                                    </label>
                                    <input type="hidden" asp-for="@Model.PetColorList[i].Value" />
                                    <input type="hidden" asp-for="@Model.PetColorList[i].Text" />

                                </div>


                            }
                        </div>

                        <div class="form-group">
                            <label asp-for="PetRace" class="control-label">Race</label>
                            @for (var i = 0; i < Model.PetRaceList.Count; i++)
                            {
                                <div class="checkboxes">

                                    <label asp-for="@Model.PetRaceList[i].Selected">
                                        <input type="checkbox" asp-for="@Model.PetRaceList[i].Selected" />
                                        @Model.PetRaceList[i].Text
                                    </label>
                                    <input type="hidden" asp-for="@Model.PetRaceList[i].Value" />
                                    <input type="hidden" asp-for="@Model.PetRaceList[i].Text" />
                                </div>

                            }
                        </div>



</form>

            </div>


        </div>

        <div class="col-lg-10 ">


            <div class="row result"></div>

        </div>

    </div>
</div>







@section scripts{
    <script src="~/chosen/chosen.jquery.js"></script>

    <script>

 $(document).ready( function () {
     $(".chosen-select").chosen()
     sendForm();
    });

        $('input:checkbox').change(function () {
        $('.NoResult').remove();
        sendForm();
    });


    $(".Target").click(function () {
    $('.NoResult').remove();
     resetForm();
     sendForm();
    });

    $(".chosen-select").on('change', function(){
    $('.NoResult').remove();
     sendForm();
});

        let sendForm = function () {
        var formData = new FormData(MyForm);

        $.ajax({
            url: '@Url.Action("GetSearchedPets", "Pet")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: formData,
            context:this,
            contentType: false,
            processData: false,
            success: function (result) {
                $('.selecta').remove();


                if (!$.trim(result)) {
                    $(".result").append(
                        '<div class="NoResult container">' +
                         '<h1>No results were found</h1>' +
                        '<p class="lead">There are currently no pets that fit your search criteria. Please try with less criteria or reset your filters </p>' +
                         '<div class="text-center">' +'<img src="/assets/no-pets-allowed.png" class="rounded">' +'</div>' +
                        '</div>'

                    );

                   }
                else {
                    albumAccordion(result);
                   }

            },
            error: function (result) {
                console.log("error");
            }
        });

        }
        let resetForm = function () {
            $(':input','#MyForm')
            .prop('checked', false)
            .prop('selected', false);
            $(".chosen-select").val('').trigger("chosen:updated");

        }

    let albumAccordion = function (result) {
            $('#selecta').remove();
            $('.selecta').remove();
            $(this).parent("#selecta").remove();
        $.each(result, function (k, v) {
            console.log(result);
          $(".result").append(
              '<div class="selecta col-md-6 col-xl-4 mb-5 ">' +
              '<a class="card post-preview lift h-100" href="/Pet/Details/?id=' + v.petId +'">' +
              '<img class="card-img-top" src=/images/' + v.petPictures[0].photoPath + '>' +
              '<div class="card-body">' +
              '<h3 class="card-title">' +
              v.name +
              '</h3>' +
              '<p class="card-text">' +
              '<p>Race : ' +
              v.petRace.raceName
              +
              '</p>' +
               '<p>Size : ' +
              v.size
              +
              '</p>' +
              '</p>' +
              '</div>' +
              '</div>' +
              '</div>' +
              '</div>' +
              '</a>' +
              '</div>'
            );

});
};
    </script>



}
