@model AdminIndexViewModel

@{
    ViewData["Title"] = "Admin homepage";
}



<div id="layoutSidenav_content">
    <main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10 pt-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                Your Overview
                            </h1>
                            <div class="page-header-subtitle">Welcome .... </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container mt-n10">
            <div class="row">
                <div class="col-xxl-12 col-xl-12 mb-4">
                    <div class="card h-100">
                        <div class="card-body h-100 d-flex flex-column justify-content-center py-5 py-xl-4">
                            <div class="row align-items-center">
                                <div class="col-xl-12 col-xxl-12">
                                    <div class="text-center px-4 mb-4 mb-xl-0 mb-xxl-4">
                                        <h1 class="text-primary">Welcome </h1>
                                        <p class="text-gray-700 mb-0">Here you will find an overview of the shelter's information</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Example Colored Cards for Dashboard Demo-->
            <div class="row">
                <div class="col-xxl-4 col-lg-4">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-3">
                                    <div class="text-white-75 large"># pets</div>
                                    <div class="text-lg font-weight-bold">@Model.TotalPets</div>
                                </div>
                                <i class="feather-xl text-white-50">
                                    
                                </i>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">Got to list</a>
                            <div class="small text-white"><i> <img src="~/assets/dogImage.png" /></i></div>
                           
                        </div>
                    </div>
                </div>

                <div class="col-xxl-4 col-lg-4">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-3">
                                    <div class="text-white-75 large">Appointments to be confirmed</div>
                                    <div class="text-lg font-weight-bold">@Model.TotalAppointmentPending</div>
                                </div>
                                <i class="feather-xl text-white-50" data-feather="check-square"></i>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Appointments</a>
                            <div class="small text-white"><i><img src="~/assets/survey.png" /></i></div>
                        </div>
                    </div>
                </div>


                <div class="col-xxl-4 col-lg-4">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-3">
                                    <div class="text-white-75 large">Appointments confirmed this week</div>
                                    <div class="text-lg font-weight-bold">@Model.TotalAppointmentConfirmed</div>
                                </div>
                                <i class="feather-xl text-white-50" data-feather="message-circle"></i>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Calander</a>
                            <div class="small text-white"><i>  <img src="~/assets/monthly-calendar.png" /></i></div>
                          
                        </div>
                    </div>
                </div>
            </div>

            <!-- Example DataTable for Dashboard Demo-->
            <div class="card mb-4">
                <div class="card-header">Personnel Management</div>
                <div class="card-body">
                    <div class="datatable">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone number</th>
                                    <th>Actions</th>
                                  
                                </tr>
                            </thead>
                   
                            <tbody>
                                @foreach (var employee in Model.Employees)
                                {
                                    <tr>
                                        <td>@employee.UserName</td>
                                        <td>@employee.FirstName</td>
                                        <td>@employee.LastName</td>
                                        <td>@employee.PhoneNumber</td>
                                        
                                        <td>
                                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i><img src="~/assets/edit.png" /></i></button>
                                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i><img src="~/assets/trash.png" /></i></button>
                                        </td>
                                    </tr>
                                 
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
